<h1>Ride the Great Allegheny Passage and C&amp;O Canal Towpath</h1>
<%= button_to "Plan my trip!", new_itinerary_path, method: :get %>
<!--<p><%= link_to "Sign in", new_user_session_path %></p>
<p><%= link_to "Sign up", new_user_registration_path %></p> -->
